body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background: #141414;
  color: #f5eaea;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(182, 177, 177, 0.58);
  transition: all 0.15s ease-in-out;
}
::-webkit-scrollbar-track {
  background: transparent;
}
