:root {
  --background-black: #141414;
  --color-logo: #2da02d;
  --color-logo-dark: #2a8d2a;
  --white-text: #f5eaea;
  --gradient-background: rgba(0, 0, 0, 0.315);
  --gradient-background-white: rgb(151 149 149 / 11%);
  --dark-text: #222121;
  --background-white: #;
}
