:root {
  --color-background: #141414;
  --color-logo: #2da02d;
  --color-logo-dark: #2a8d2a;
  --color-text: #f5eaea;
  --gradient-background: rgba(0, 0, 0, 0.418);
  --gradient-background-white: rgb(151 149 149 / 11%);
  --color-dark-text: #222121;
}
