:root {
  /*--color-logo: #e50914;
  --color-logo-dark: #e50914;
  */
  --color-logo: #29a829;
  --color-logo-dark: #217921;
  --blue-text: #72e3f7;
  --white-text: #f5eaea;
  --gradient-background: rgba(0, 0, 0, 0.315);
  --gradient-background-white: rgb(151 149 149 / 11%);
  --dark-text: #222121;
  --background-black: #141414;
}
